@using Bennington.Cms.Metadata
@using Bennington.Cms.Sorting
@model Bennington.Cms.Models.GridViewModel
<thead>
    <tr>
        @foreach (var column in Model.Columns)
        {
            var sortUrl = "?sortBy=" + column.Name;
            if (column.IsSorted)
            {
            <th class="@(column.SortOrder == "asc" ? "headerSortUp" : "headerSortDown")">
                <a href="@(sortUrl + "&sortOrder=" + column.SortOrder == "asc" ? "desc" : "asc")">@column.Name</a>
            </th>
            }
            else
            {
            <th>
                <a href="@sortUrl">@column.Name</a>
            </th>
            }
        }
    </tr>
</thead>
