@using System.Web.Mvc.Html
@using Bennington.ContentTree.Providers.ContentNodeProvider.Models
@model Bennington.ContentTree.Providers.ContentNodeProvider.Models.ModifyViewModel
@using System.Web.Mvc
@using System.Security.Policy


@section head {
    <script type="text/javascript" src="@Url.Content("~/Scripts/ContentNodeProvider/jquery-1.6.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ContentNodeProvider/tiny_mce/jquery.tinymce.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ContentNodeProvider/tiny_mce/tiny_mce.js")"></script>
}

<script type="text/javascript">
    $(function () {
               $('textarea.tinymce').tinymce({
                   // Location of TinyMCE script
                   script_url: '@Url.Content("~/Scripts/ContentNodeProvider/tiny_mce/tiny_mce.js")',

                   // General options
                   theme: "advanced",
                   plugins: "",
                   theme_advanced_toolbar_location: "top",
                   theme_advanced_toolbar_align: "left",
                   theme_advanced_statusbar_location: "bottom",
                   theme_advanced_resizing: true,
               });
           });
</script>


@{ Html.RenderAction("ContentItemNavigation", "ContentTreeNode", new { TreeNodeId = Model.ContentTreeNodeInputModel.TreeNodeId }); }

	@*<% using (Html.BeginForm(Model.Action, "ContentTreeNode", FormMethod.Post, new { Id = "form" })) { %>*@
	<form Id="form" action="@Url.Content("~/")ContentTreeNode/@Model.Action" method="post" enctype="multipart/form-data">

	<div class="contentNodeProviderForm">

        @if (!string.IsNullOrEmpty(Model.Url))
        {
            <div><a href="@Html.Raw(Model.Url)" target="_blank">@Model.Url</a></div>
        }
            
		@Html.EditorFor(x => x.ContentTreeNodeInputModel)

		<div class="commandButtonContainer">
			<input type="button" class="button" value="Cancel" onclick="window.location='@Url.Action("Index", "ContentTree")';" />
			<input type="button" class="button" value="Save" onclick="$('#ContentTreeNodeInputModel_FormAction').val(this.value);/*tinyMCE.triggerSave();*/$('#form').submit();" />
			@*<input type="button" class="button" value="Save And Exit" onclick="$('#ContentTreeNodeInputModel_FormAction').val(this.value);/*tinyMCE.triggerSave();*/$('#form').submit();" />*@
			
			@if (ViewContext.RouteData.Values["Action"].ToString() == "Modify") { 
			<input type="button" class="button important" value="Delete" onclick="if (confirm('Are you sure you want to delete this item?')) { window.location='@Url.Action("Delete", "ContentTreeNode", new { treeNodeId = Model.ContentTreeNodeInputModel.TreeNodeId })'; }" />
			 } 
			@if ((ViewContext.RouteData.Values["Action"].ToString() == "Modify") && (!string.IsNullOrEmpty(Model.ContentTreeNodeInputModel.PageId))) { 
			<input type="button" class="button" value="Publish" onclick="$('#ContentTreeNodeInputModel_FormAction').val(this.value);$('#form').submit();" />
			 } 
		</div>
	</div>

	</form>
	@*<% } %>*@


