<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>@RenderSection("title", false)</title>
    <link href="@Url.Content("~/Content/ManageSite.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jstree.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jstreegrid.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/tiny_mce/jquery.tinymce.js")"></script>
</head>
<body>
    <div id="canvas">
        <div class="page">
            <div id="header" class="clearfix">
                <div id="title">
                    <h1><a href=""><img src="@Url.Content("~/Content/Canvas/Logo.gif")" alt="Digital Evolution Group - Site Management System 4.0" width="450" height="34" /></a></h1>
                </div>
              
                <div id="topmenucontainer">
			        @{Html.RenderAction("IconMenu", "MenuSystem");}
                </div>

                <div id="current-user">
				    @RenderSection("currentUser", false) 
                </div>
                @{Html.RenderAction("SectionMenu", "MenuSystem");}
                @{Html.RenderAction("SubMenu", "MenuSystem");}
            </div>
            <div id="main">
                @RenderBody()
                <div id="footer">
                @RenderSection("footer", false)
                </div>
            </div>
        </div>
    </div>
    @RenderSection("AdditionalScripts", false)
</body>
</html>
