@using Bennington.ContentTree.Models
@{ Layout = "~/Views/Shared/Blank.cshtml"; }
@model Bennington.ContentTree.TreeManager.Models.TreeBranchViewModel
    
	@foreach (var treeNode in Model.TreeNodeSummaries) {
		<li id="@treeNode.Id" class="@(treeNode.HasChildren ? "jstree-closed" : string.Empty)">
			<span class="noicon">
				<a href="#TB_inline?height=155&width=300&inlineId=createFormContainer&modal=false" class="thickbox" onclick="$('#TreeNodeCreationInputModel_ParentTreeNodeId').val('@treeNode.Id');$('#createInRootLink').click();"><img src="/Content/TreeManager/PlusSign.gif" alt="Create a child" /></a>
			</span>
            <a href="@Url.Action(treeNode.ActionToUseForModification, treeNode.ControllerToUseForModification, treeNode.RouteValuesForModification)"><img src="@treeNode.IconUrl" alt="@treeNode.Name" />@treeNode.Name</a>
		</li>
	}
