@using System.Web.Mvc.Html
@using Bennington.ContentTree
@using Bennington.ContentTree.Models
@using System.Security.Policy
@using System.Web.Mvc
@{ Layout = "~/Views/Shared/ManageSite.cshtml"; }
@model Bennington.ContentTree.TreeManager.Models.TreeManagerIndexViewModel

@section title{
    Content Tree Management
}

@section head {

    <link href="@Url.Content("~/Content/TreeManager/JSTree/Style.css")" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="@Url.Content("~/Scripts/TreeManager/jquery-ui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/TreeManager/jquery.cookie.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/TreeManager/jquery.jstree.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/TreeManager/thickbox-compressed.js")"></script>

	<script type="text/javascript">
		$(document).ready(function () {

			$(".contentTree").jstree({
				"html_data": {
					"ajax": {
						"url": "@Url.Action("Branch", "TreeManager")",
						"data": function (n) {
							return { id: n.attr ? n.attr("id") : '@Constants.RootNodeId' };
						}
					}
				},
				"plugins": ["themes", "html_data", "cookies"]
			});

			$("#TreeNodeCreationInputModel_ProviderType").change(function () {
				var selected = $("#TreeNodeCreationInputModel_ProviderType option:selected");
				if (selected.val() != "") {
					document.forms[0].action = $("#TreeNodeCreationInputModel_ProviderType").val();
				}
			});
		});
	</script>
}
    
    <div id="pageheader" class="clearfix" style="padding-top:50px;"></div>

    <div id="tab1" class="tabContent">
        <div class="section">
            <div class="createFormContainer" id="createFormContainer" style="display:none">
				@using (Html.BeginForm("Index", "ContentTree", FormMethod.Get, new { })) {
					@Html.EditorFor(a => a.TreeNodeCreationInputModel)
					<input type="button" class="button" value="Create" onclick="if ($('#TreeNodeCreationInputModel_ProviderType').val() != '') {window.location=$('#TreeNodeCreationInputModel_ProviderType').val() + '&parentTreeNodeId=' + $('#TreeNodeCreationInputModel_ParentTreeNodeId').val();} else { alert('Please choose a type'); }" />
				}
			</div>
			<div class="contentTreeContainer clearfix">
                @if (Model.ContentTreeHasNodes)
                {
                    <div class="contentTree">
                    </div>
                } else
                {
                    <span class="noContentTree">There is no content to manage right now.  Try creating something.</span>
                }
            </div>
        </div>

		<br />
		<a id="createInRootLink" href="#TB_inline?height=155&width=300&inlineId=createFormContainer&modal=false" class="thickbox" title="Create a Node:" ><input type="button" value="Create" class="button"/></a>
		
    </div>

    <div id="tab2" class="tabContent">
    </div>